[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = suggestion

# CA1054: Uri parameters should not be strings
dotnet_diagnostic.CA1054.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CS0809: Obsolete member overrides non-obsolete member
dotnet_diagnostic.CS0809.severity = none

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none
